svg {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: grey;
}

path {
    stroke: white;
    stroke-width: 2;
    fill: green;
}

path:first-child {
    stroke: white;
    stroke-width: 2;
    fill: blue;
}

path:last-child {
    stroke: white;
    stroke-width: 2;
    fill: red;
}
